/* write css here */

/* css booking modal */

.grid.gap-1\.5.p-4.text-center.sm\:text-left {
    text-align: center;
}
.mt-auto.flex.flex-col.gap-2.p-4{
    width: 50vw;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin: auto;

}
.mt-auto.flex.flex-col.gap-2.p-4{
    flex-direction: row;
}

